<form method="post" action="{{ path('item_order_delete', {'id': item_order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item_order.id) }}">
    <button class="btn">Delete</button>
</form>
