{% extends 'base.html.twig' %}

{% block title %}Edit ItemOrder{% endblock %}

{% block body %}
    <h1>Edit ItemOrder</h1>

    {{ include('item_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('item_order_index') }}">back to list</a>

    {{ include('item_order/_delete_form.html.twig') }}
{% endblock %}
