{% extends 'base.html.twig' %}

{% block title %}WareHouse Orders{% endblock %}

{% block body %}
    <h1>ItemOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Created</th>
                <th>Modified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_order in item_orders %}
            <tr>
                <td>{{ item_order.id }}</td>
                <td>{{ item_order.quantity }}</td>
                <td>{{ item_order.created ? item_order.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item_order.modified ? item_order.modified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('item_order_show', {'id': item_order.id}) }}">show</a>
                    <a href="{{ path('item_order_edit', {'id': item_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_order_new') }}">Create new</a>
{% endblock %}
