{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1>Create new order</h1>

    {{ include('item_order/_form.html.twig') }}

    <a href="{{ path('item_order_index') }}">back to list</a>
{% endblock %}
