{% extends 'base.html.twig' %}

{% block title %}ItemOrder{% endblock %}

{% block body %}
    <h1>ItemOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item_order.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ item_order.quantity }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ item_order.created ? item_order.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ item_order.modified ? item_order.modified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('item_order_index') }}">back to list</a>

    <a href="{{ path('item_order_edit', {'id': item_order.id}) }}">edit</a>

    {{ include('item_order/_delete_form.html.twig') }}
{% endblock %}
