{% extends 'base.html.twig' %}

{% block body %}
    <h1>Items</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Sku</th>
            <th>Quantity</th>
            <th>Created</th>
            <th>Modified</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.sku }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.created ? item.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ item.modified ? item.modified|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('item_show', {'id': item.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}