{% extends 'base.html.twig' %}

{% block title %}Edit ItemGroup{% endblock %}

{% block body %}
    <h1>Edit ItemGroup</h1>

    {{ include('item_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('item_group_index') }}">back to list</a>

    {{ include('item_group/_delete_form.html.twig') }}
{% endblock %}
