{% extends 'base.html.twig' %}

{% block title %}WareHouse Item Groups{% endblock %}

{% block body %}
    <h1>Item Groups</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_group in item_groups %}
            <tr>
                <td>{{ item_group.id }}</td>
                <td>{{ item_group.name }}</td>
                <td>
                    <a href="{{ path('item_group_show', {'id': item_group.id}) }}">show</a>
                    <a href="{{ path('item_group_edit', {'id': item_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_group_new') }}">Create new</a>
{% endblock %}
