{% extends 'base.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1>Create new group</h1>

    {{ include('item_group/_form.html.twig') }}

    <a href="{{ path('item_group_index') }}">back to list</a>
{% endblock %}
