{% extends 'base.html.twig' %}

{% block title %}ItemGroup{% endblock %}

{% block body %}
    <h1>ItemGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item_group.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ item_group.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('item_group_index') }}">back to list</a>

    <a href="{{ path('item_group_edit', {'id': item_group.id}) }}">edit</a>

    {{ include('item_group/_delete_form.html.twig') }}
{% endblock %}
